
body {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.custCounter {
  text-align: center;
  padding-bottom: 50px;
  border-right: 1px dashed black;
}

.custCounter:last-child {
  border-right: 0px solid black;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.counterIcon {
  font-size: 20px !important;
}
.boxaos{
	height: 500px;
}
.snows{
	height: 500px;
}
.goup-container{
  background-color: red !important;
}
.goup-arrow{
  border-color: transparent transparent rgb(6 0 0) !important;
}